/*
TemplateFox API

Generate beautiful PDFs from HTML/CSS templates with Jinja2 via API. Design once, generate thousands.

API version: 1.5.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package templatefox

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type TemplatesAPI interface {

	/*
	GetTemplateFields Get template fields

	Get the dynamic fields for a template.

**Authentication:** API Key required (`x-api-key` header) or JWT token

**Usage:** This endpoint is designed for no-code tool integrations (Zapier, Make.com).
It returns an array of field definitions used to dynamically generate input forms.

**Response format:** Array of field objects with: `key`, `label`, `type`, `required`,
optional `helpText`, and optional `spec` (for array fields).

**Field types:**
- `string`: Text input
- `integer`: Integer number
- `number`: Decimal number
- `boolean`: True/False checkbox
- `array`: Array of items with nested `spec` defining item structure

**Array fields:** When a field is an array of objects, the response includes a `spec`
array defining the structure of each item (name, label, type for each nested field).

**No credits consumed:** This is a read-only endpoint.

**Rate Limits:** 60 requests/min (free), 120 requests/min (paid). Headers included in response.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param templateId
	@return TemplatesAPIGetTemplateFieldsRequest
	*/
	GetTemplateFields(ctx context.Context, templateId string) TemplatesAPIGetTemplateFieldsRequest

	// GetTemplateFieldsExecute executes the request
	//  @return []TemplateField
	GetTemplateFieldsExecute(r TemplatesAPIGetTemplateFieldsRequest) ([]TemplateField, *http.Response, error)

	/*
	ListTemplates List templates

	List all templates for the authenticated user.

**Authentication:** API Key required (`x-api-key` header) or JWT token

**Usage:** This endpoint is designed for no-code tools (Zapier, Make, n8n) to populate
template selection dropdowns.

**No credits consumed:** This is a read-only endpoint.

**Rate Limits:** 60 requests/min (free), 120 requests/min (paid). Headers included in response.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TemplatesAPIListTemplatesRequest
	*/
	ListTemplates(ctx context.Context) TemplatesAPIListTemplatesRequest

	// ListTemplatesExecute executes the request
	//  @return TemplatesListResponse
	ListTemplatesExecute(r TemplatesAPIListTemplatesRequest) (*TemplatesListResponse, *http.Response, error)
}

// TemplatesAPIService TemplatesAPI service
type TemplatesAPIService service

type TemplatesAPIGetTemplateFieldsRequest struct {
	ctx context.Context
	ApiService TemplatesAPI
	templateId string
}

func (r TemplatesAPIGetTemplateFieldsRequest) Execute() ([]TemplateField, *http.Response, error) {
	return r.ApiService.GetTemplateFieldsExecute(r)
}

/*
GetTemplateFields Get template fields

Get the dynamic fields for a template.

**Authentication:** API Key required (`x-api-key` header) or JWT token

**Usage:** This endpoint is designed for no-code tool integrations (Zapier, Make.com).
It returns an array of field definitions used to dynamically generate input forms.

**Response format:** Array of field objects with: `key`, `label`, `type`, `required`,
optional `helpText`, and optional `spec` (for array fields).

**Field types:**
- `string`: Text input
- `integer`: Integer number
- `number`: Decimal number
- `boolean`: True/False checkbox
- `array`: Array of items with nested `spec` defining item structure

**Array fields:** When a field is an array of objects, the response includes a `spec`
array defining the structure of each item (name, label, type for each nested field).

**No credits consumed:** This is a read-only endpoint.

**Rate Limits:** 60 requests/min (free), 120 requests/min (paid). Headers included in response.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param templateId
 @return TemplatesAPIGetTemplateFieldsRequest
*/
func (a *TemplatesAPIService) GetTemplateFields(ctx context.Context, templateId string) TemplatesAPIGetTemplateFieldsRequest {
	return TemplatesAPIGetTemplateFieldsRequest{
		ApiService: a,
		ctx: ctx,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return []TemplateField
func (a *TemplatesAPIService) GetTemplateFieldsExecute(r TemplatesAPIGetTemplateFieldsRequest) ([]TemplateField, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []TemplateField
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.GetTemplateFields")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/templates/{template_id}/fields"
	localVarPath = strings.Replace(localVarPath, "{"+"template_id"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TemplatesAPIListTemplatesRequest struct {
	ctx context.Context
	ApiService TemplatesAPI
}

func (r TemplatesAPIListTemplatesRequest) Execute() (*TemplatesListResponse, *http.Response, error) {
	return r.ApiService.ListTemplatesExecute(r)
}

/*
ListTemplates List templates

List all templates for the authenticated user.

**Authentication:** API Key required (`x-api-key` header) or JWT token

**Usage:** This endpoint is designed for no-code tools (Zapier, Make, n8n) to populate
template selection dropdowns.

**No credits consumed:** This is a read-only endpoint.

**Rate Limits:** 60 requests/min (free), 120 requests/min (paid). Headers included in response.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TemplatesAPIListTemplatesRequest
*/
func (a *TemplatesAPIService) ListTemplates(ctx context.Context) TemplatesAPIListTemplatesRequest {
	return TemplatesAPIListTemplatesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TemplatesListResponse
func (a *TemplatesAPIService) ListTemplatesExecute(r TemplatesAPIListTemplatesRequest) (*TemplatesListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TemplatesListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.ListTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
