/*
TemplateFox API

Generate beautiful PDFs from HTML/CSS templates with Jinja2 via API. Design once, generate thousands.

API version: 1.13.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package templatefox

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type PDFToolsAPI interface {

	/*
	ExtractPdfPages Extract pages from a PDF

	Return a single PDF containing only the selected pages of the input, in the order specified. Replaces the need for splitting + reassembling client-side.

**Pages syntax:** 1-indexed, comma-separated. Supports ranges (`1-3`) and singles (`5`). Order is preserved: `5,1,3` outputs those 3 pages in that order.

**Credits:** 1 credit per call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PDFToolsAPIExtractPdfPagesRequest
	*/
	ExtractPdfPages(ctx context.Context) PDFToolsAPIExtractPdfPagesRequest

	// ExtractPdfPagesExecute executes the request
	//  @return PdfToolsResponse
	ExtractPdfPagesExecute(r PDFToolsAPIExtractPdfPagesRequest) (*PdfToolsResponse, *http.Response, error)

	/*
	MergePdf Merge PDFs

	Concatenate 2 or more PDFs into a single PDF, in the order provided. Each input PDF is supplied as either an HTTPS URL or a base64 string.

**Credits:** 1 credit per call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PDFToolsAPIMergePdfRequest
	*/
	MergePdf(ctx context.Context) PDFToolsAPIMergePdfRequest

	// MergePdfExecute executes the request
	//  @return PdfToolsResponse
	MergePdfExecute(r PDFToolsAPIMergePdfRequest) (*PdfToolsResponse, *http.Response, error)

	/*
	RotatePdf Rotate pages of a PDF

	Rotate every page by the same angle (`rotation`), or apply a per-page rotation map (`page_rotations`). Rotations are cumulative with the page's existing rotation. Allowed angles: 0, 90, 180, 270.

**Credits:** 1 credit per call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PDFToolsAPIRotatePdfRequest
	*/
	RotatePdf(ctx context.Context) PDFToolsAPIRotatePdfRequest

	// RotatePdfExecute executes the request
	//  @return PdfToolsResponse
	RotatePdfExecute(r PDFToolsAPIRotatePdfRequest) (*PdfToolsResponse, *http.Response, error)
}

// PDFToolsAPIService PDFToolsAPI service
type PDFToolsAPIService service

type PDFToolsAPIExtractPdfPagesRequest struct {
	ctx context.Context
	ApiService PDFToolsAPI
	extractPdfPagesRequest *ExtractPdfPagesRequest
}

func (r PDFToolsAPIExtractPdfPagesRequest) ExtractPdfPagesRequest(extractPdfPagesRequest ExtractPdfPagesRequest) PDFToolsAPIExtractPdfPagesRequest {
	r.extractPdfPagesRequest = &extractPdfPagesRequest
	return r
}

func (r PDFToolsAPIExtractPdfPagesRequest) Execute() (*PdfToolsResponse, *http.Response, error) {
	return r.ApiService.ExtractPdfPagesExecute(r)
}

/*
ExtractPdfPages Extract pages from a PDF

Return a single PDF containing only the selected pages of the input, in the order specified. Replaces the need for splitting + reassembling client-side.

**Pages syntax:** 1-indexed, comma-separated. Supports ranges (`1-3`) and singles (`5`). Order is preserved: `5,1,3` outputs those 3 pages in that order.

**Credits:** 1 credit per call.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PDFToolsAPIExtractPdfPagesRequest
*/
func (a *PDFToolsAPIService) ExtractPdfPages(ctx context.Context) PDFToolsAPIExtractPdfPagesRequest {
	return PDFToolsAPIExtractPdfPagesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PdfToolsResponse
func (a *PDFToolsAPIService) ExtractPdfPagesExecute(r PDFToolsAPIExtractPdfPagesRequest) (*PdfToolsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PdfToolsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFToolsAPIService.ExtractPdfPages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pdf-tools/extract-pages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.extractPdfPagesRequest == nil {
		return localVarReturnValue, nil, reportError("extractPdfPagesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.extractPdfPagesRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PDFToolsAPIMergePdfRequest struct {
	ctx context.Context
	ApiService PDFToolsAPI
	mergePdfRequest *MergePdfRequest
}

func (r PDFToolsAPIMergePdfRequest) MergePdfRequest(mergePdfRequest MergePdfRequest) PDFToolsAPIMergePdfRequest {
	r.mergePdfRequest = &mergePdfRequest
	return r
}

func (r PDFToolsAPIMergePdfRequest) Execute() (*PdfToolsResponse, *http.Response, error) {
	return r.ApiService.MergePdfExecute(r)
}

/*
MergePdf Merge PDFs

Concatenate 2 or more PDFs into a single PDF, in the order provided. Each input PDF is supplied as either an HTTPS URL or a base64 string.

**Credits:** 1 credit per call.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PDFToolsAPIMergePdfRequest
*/
func (a *PDFToolsAPIService) MergePdf(ctx context.Context) PDFToolsAPIMergePdfRequest {
	return PDFToolsAPIMergePdfRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PdfToolsResponse
func (a *PDFToolsAPIService) MergePdfExecute(r PDFToolsAPIMergePdfRequest) (*PdfToolsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PdfToolsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFToolsAPIService.MergePdf")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pdf-tools/merge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mergePdfRequest == nil {
		return localVarReturnValue, nil, reportError("mergePdfRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.mergePdfRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PDFToolsAPIRotatePdfRequest struct {
	ctx context.Context
	ApiService PDFToolsAPI
	rotatePdfRequest *RotatePdfRequest
}

func (r PDFToolsAPIRotatePdfRequest) RotatePdfRequest(rotatePdfRequest RotatePdfRequest) PDFToolsAPIRotatePdfRequest {
	r.rotatePdfRequest = &rotatePdfRequest
	return r
}

func (r PDFToolsAPIRotatePdfRequest) Execute() (*PdfToolsResponse, *http.Response, error) {
	return r.ApiService.RotatePdfExecute(r)
}

/*
RotatePdf Rotate pages of a PDF

Rotate every page by the same angle (`rotation`), or apply a per-page rotation map (`page_rotations`). Rotations are cumulative with the page's existing rotation. Allowed angles: 0, 90, 180, 270.

**Credits:** 1 credit per call.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PDFToolsAPIRotatePdfRequest
*/
func (a *PDFToolsAPIService) RotatePdf(ctx context.Context) PDFToolsAPIRotatePdfRequest {
	return PDFToolsAPIRotatePdfRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PdfToolsResponse
func (a *PDFToolsAPIService) RotatePdfExecute(r PDFToolsAPIRotatePdfRequest) (*PdfToolsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PdfToolsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFToolsAPIService.RotatePdf")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pdf-tools/rotate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rotatePdfRequest == nil {
		return localVarReturnValue, nil, reportError("rotatePdfRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.rotatePdfRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
