/*
TemplateFox API

Generate beautiful PDFs from HTML/CSS templates with Jinja2 via API. Design once, generate thousands.

API version: 1.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package templatefox

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type PDFAPI interface {

	/*
	CreatePdf Generate PDF from template

	Generate a PDF from a saved template with dynamic data.

**Authentication:** API Key required (`x-api-key` header)

## Request Body

| Field | Type | Required | Description |
|-------|------|----------|-------------|
| `template_id` | string | ✅ Yes | Template short ID (12 characters) |
| `data` | object | ✅ Yes | Key-value data to render in template |
| `export_type` | string | No | `url` (default) or `binary` |
| `expiration` | integer | No | URL expiration in seconds (60-604800, default: 86400) |

## Export Types
- `url` (default): PDF is uploaded to CDN, returns JSON with URL
- `binary`: Returns raw PDF bytes directly

**Credits:** 1 credit deducted per successful generation.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PDFAPICreatePdfRequest
	*/
	CreatePdf(ctx context.Context) PDFAPICreatePdfRequest

	// CreatePdfExecute executes the request
	//  @return CreatePdfResponse
	CreatePdfExecute(r PDFAPICreatePdfRequest) (*CreatePdfResponse, *http.Response, error)
}

// PDFAPIService PDFAPI service
type PDFAPIService service

type PDFAPICreatePdfRequest struct {
	ctx context.Context
	ApiService PDFAPI
	createPdfRequest *CreatePdfRequest
}

func (r PDFAPICreatePdfRequest) CreatePdfRequest(createPdfRequest CreatePdfRequest) PDFAPICreatePdfRequest {
	r.createPdfRequest = &createPdfRequest
	return r
}

func (r PDFAPICreatePdfRequest) Execute() (*CreatePdfResponse, *http.Response, error) {
	return r.ApiService.CreatePdfExecute(r)
}

/*
CreatePdf Generate PDF from template

Generate a PDF from a saved template with dynamic data.

**Authentication:** API Key required (`x-api-key` header)

## Request Body

| Field | Type | Required | Description |
|-------|------|----------|-------------|
| `template_id` | string | ✅ Yes | Template short ID (12 characters) |
| `data` | object | ✅ Yes | Key-value data to render in template |
| `export_type` | string | No | `url` (default) or `binary` |
| `expiration` | integer | No | URL expiration in seconds (60-604800, default: 86400) |

## Export Types
- `url` (default): PDF is uploaded to CDN, returns JSON with URL
- `binary`: Returns raw PDF bytes directly

**Credits:** 1 credit deducted per successful generation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PDFAPICreatePdfRequest
*/
func (a *PDFAPIService) CreatePdf(ctx context.Context) PDFAPICreatePdfRequest {
	return PDFAPICreatePdfRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreatePdfResponse
func (a *PDFAPIService) CreatePdfExecute(r PDFAPICreatePdfRequest) (*CreatePdfResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePdfResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFAPIService.CreatePdf")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pdf/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPdfRequest == nil {
		return localVarReturnValue, nil, reportError("createPdfRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/pdf"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPdfRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
