/*
TemplateFox API

Generate beautiful PDFs from HTML/CSS templates with Jinja2 via API. Design once, generate thousands.

API version: 1.6.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package templatefox

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type PDFAsyncAPI interface {

	/*
	CreatePdfAsync Generate PDF asynchronously

	Queue a PDF generation job for async processing.

**Authentication:** API Key required (`x-api-key` header)

## How It Works

1. Submit a job with template and data
2. Receive a `job_id` immediately
3. Poll `/v1/pdf/status/{job_id}` for completion
4. Optionally receive a webhook notification

## When to Use Async

Use async generation when:
- Processing large documents or batches
- You can't wait for synchronous response
- You want webhook notifications

## Webhooks

If `webhook_url` is provided, we'll POST to it when the job completes or fails:

```json
{
    "event": "pdf.completed",
    "job_id": "...",
    "status": "completed",
    "result": {
        "url": "https://...",
        "filename": "invoice.pdf"
    }
}
```

Webhooks include HMAC-SHA256 signature in `X-TemplateFox-Signature` header
if you provide a `webhook_secret`.

**Credits:** 1 credit deducted immediately (refunded if job fails permanently).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PDFAsyncAPICreatePdfAsyncRequest
	*/
	CreatePdfAsync(ctx context.Context) PDFAsyncAPICreatePdfAsyncRequest

	// CreatePdfAsyncExecute executes the request
	//  @return CreateAsyncPdfResponse
	CreatePdfAsyncExecute(r PDFAsyncAPICreatePdfAsyncRequest) (*CreateAsyncPdfResponse, *http.Response, error)

	/*
	GetPdfJob Get PDF job status

	Get the current status of an async PDF generation job.

**Authentication:** API Key required (`x-api-key` header)

## Status Values

| Status | Description |
|--------|-------------|
| `pending` | Job is queued, waiting to be processed |
| `processing` | Job is being processed |
| `completed` | PDF generated successfully |
| `failed` | Job failed (check error_message) |

## Polling Recommendations

- Poll every 1-2 seconds for small documents
- Poll every 5-10 seconds for large documents
- Consider using webhooks instead of polling

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param jobId
	@return PDFAsyncAPIGetPdfJobRequest
	*/
	GetPdfJob(ctx context.Context, jobId string) PDFAsyncAPIGetPdfJobRequest

	// GetPdfJobExecute executes the request
	//  @return JobStatusResponse
	GetPdfJobExecute(r PDFAsyncAPIGetPdfJobRequest) (*JobStatusResponse, *http.Response, error)

	/*
	ListPdfJobs List PDF jobs

	List async PDF generation jobs for your team.

**Authentication:** API Key required (`x-api-key` header)

Supports pagination and filtering by status.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return PDFAsyncAPIListPdfJobsRequest
	*/
	ListPdfJobs(ctx context.Context) PDFAsyncAPIListPdfJobsRequest

	// ListPdfJobsExecute executes the request
	//  @return JobListResponse
	ListPdfJobsExecute(r PDFAsyncAPIListPdfJobsRequest) (*JobListResponse, *http.Response, error)
}

// PDFAsyncAPIService PDFAsyncAPI service
type PDFAsyncAPIService service

type PDFAsyncAPICreatePdfAsyncRequest struct {
	ctx context.Context
	ApiService PDFAsyncAPI
	createAsyncPdfRequest *CreateAsyncPdfRequest
}

func (r PDFAsyncAPICreatePdfAsyncRequest) CreateAsyncPdfRequest(createAsyncPdfRequest CreateAsyncPdfRequest) PDFAsyncAPICreatePdfAsyncRequest {
	r.createAsyncPdfRequest = &createAsyncPdfRequest
	return r
}

func (r PDFAsyncAPICreatePdfAsyncRequest) Execute() (*CreateAsyncPdfResponse, *http.Response, error) {
	return r.ApiService.CreatePdfAsyncExecute(r)
}

/*
CreatePdfAsync Generate PDF asynchronously

Queue a PDF generation job for async processing.

**Authentication:** API Key required (`x-api-key` header)

## How It Works

1. Submit a job with template and data
2. Receive a `job_id` immediately
3. Poll `/v1/pdf/status/{job_id}` for completion
4. Optionally receive a webhook notification

## When to Use Async

Use async generation when:
- Processing large documents or batches
- You can't wait for synchronous response
- You want webhook notifications

## Webhooks

If `webhook_url` is provided, we'll POST to it when the job completes or fails:

```json
{
    "event": "pdf.completed",
    "job_id": "...",
    "status": "completed",
    "result": {
        "url": "https://...",
        "filename": "invoice.pdf"
    }
}
```

Webhooks include HMAC-SHA256 signature in `X-TemplateFox-Signature` header
if you provide a `webhook_secret`.

**Credits:** 1 credit deducted immediately (refunded if job fails permanently).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PDFAsyncAPICreatePdfAsyncRequest
*/
func (a *PDFAsyncAPIService) CreatePdfAsync(ctx context.Context) PDFAsyncAPICreatePdfAsyncRequest {
	return PDFAsyncAPICreatePdfAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateAsyncPdfResponse
func (a *PDFAsyncAPIService) CreatePdfAsyncExecute(r PDFAsyncAPICreatePdfAsyncRequest) (*CreateAsyncPdfResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateAsyncPdfResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFAsyncAPIService.CreatePdfAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pdf/create-async"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createAsyncPdfRequest == nil {
		return localVarReturnValue, nil, reportError("createAsyncPdfRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createAsyncPdfRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PDFAsyncAPIGetPdfJobRequest struct {
	ctx context.Context
	ApiService PDFAsyncAPI
	jobId string
}

func (r PDFAsyncAPIGetPdfJobRequest) Execute() (*JobStatusResponse, *http.Response, error) {
	return r.ApiService.GetPdfJobExecute(r)
}

/*
GetPdfJob Get PDF job status

Get the current status of an async PDF generation job.

**Authentication:** API Key required (`x-api-key` header)

## Status Values

| Status | Description |
|--------|-------------|
| `pending` | Job is queued, waiting to be processed |
| `processing` | Job is being processed |
| `completed` | PDF generated successfully |
| `failed` | Job failed (check error_message) |

## Polling Recommendations

- Poll every 1-2 seconds for small documents
- Poll every 5-10 seconds for large documents
- Consider using webhooks instead of polling

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param jobId
 @return PDFAsyncAPIGetPdfJobRequest
*/
func (a *PDFAsyncAPIService) GetPdfJob(ctx context.Context, jobId string) PDFAsyncAPIGetPdfJobRequest {
	return PDFAsyncAPIGetPdfJobRequest{
		ApiService: a,
		ctx: ctx,
		jobId: jobId,
	}
}

// Execute executes the request
//  @return JobStatusResponse
func (a *PDFAsyncAPIService) GetPdfJobExecute(r PDFAsyncAPIGetPdfJobRequest) (*JobStatusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JobStatusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFAsyncAPIService.GetPdfJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pdf/jobs/{job_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"job_id"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PDFAsyncAPIListPdfJobsRequest struct {
	ctx context.Context
	ApiService PDFAsyncAPI
	limit *int32
	offset *int32
	status *JobStatus
}

func (r PDFAsyncAPIListPdfJobsRequest) Limit(limit int32) PDFAsyncAPIListPdfJobsRequest {
	r.limit = &limit
	return r
}

func (r PDFAsyncAPIListPdfJobsRequest) Offset(offset int32) PDFAsyncAPIListPdfJobsRequest {
	r.offset = &offset
	return r
}

func (r PDFAsyncAPIListPdfJobsRequest) Status(status JobStatus) PDFAsyncAPIListPdfJobsRequest {
	r.status = &status
	return r
}

func (r PDFAsyncAPIListPdfJobsRequest) Execute() (*JobListResponse, *http.Response, error) {
	return r.ApiService.ListPdfJobsExecute(r)
}

/*
ListPdfJobs List PDF jobs

List async PDF generation jobs for your team.

**Authentication:** API Key required (`x-api-key` header)

Supports pagination and filtering by status.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PDFAsyncAPIListPdfJobsRequest
*/
func (a *PDFAsyncAPIService) ListPdfJobs(ctx context.Context) PDFAsyncAPIListPdfJobsRequest {
	return PDFAsyncAPIListPdfJobsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JobListResponse
func (a *PDFAsyncAPIService) ListPdfJobsExecute(r PDFAsyncAPIListPdfJobsRequest) (*JobListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JobListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFAsyncAPIService.ListPdfJobs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/pdf/jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
