/*
TemplateFox API

Generate beautiful PDFs from HTML/CSS templates with Jinja2 via API. Design once, generate thousands.

API version: 1.13.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package templatefox

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type AgentAPI interface {

	/*
	CreateAgentTemplate Create a template with the authoring agent

	Describe the image template you want; the TemplateFox agent authors it for you —
valid HTML that renders deterministically AND stays editable in the visual editor,
with every layer named and drivable through `/v1/image/create` modifications.

The job is asynchronous: poll `GET /v1/agent/jobs/{job_id}`. When completed, the
response always includes a **preview_url** (rendered PNG) plus the `template_id`.
Iterate with `POST /v1/agent/templates/{template_id}/revise`.

**Authentication:** API Key required (`x-api-key` header)

## Credits

Creation costs **25 credits**, deducted when the job is
queued and fully refunded if the job fails.

## Canvas

Pass a `preset` (instagram-square, instagram-story, og-image, twitter-card, pinterest-pin, square-512) or explicit `width` + `height` in px.

## Rate Limits

Standard rate limits apply (60 req/min free, 120 req/min paid).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return AgentAPICreateAgentTemplateRequest
	*/
	CreateAgentTemplate(ctx context.Context) AgentAPICreateAgentTemplateRequest

	// CreateAgentTemplateExecute executes the request
	//  @return AgentJobCreatedResponse
	CreateAgentTemplateExecute(r AgentAPICreateAgentTemplateRequest) (*AgentJobCreatedResponse, *http.Response, error)

	/*
	GetAgentJob Get authoring-agent job status

	Poll the status of an authoring-agent job.

**Authentication:** API Key required (`x-api-key` header)

## Status Values

| Status | Description |
|--------|-------------|
| `pending` | Job is queued |
| `processing` | The agent is authoring (typically 30s-3min) |
| `completed` | Done — `template_id` and `preview_url` are set |
| `failed` | Job failed (see error_message); credits were refunded |

Poll every 2-5 seconds. A job stuck in `processing` for more than 10 minutes is
failed automatically and its credits refunded.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param jobId Job UUID
	@return AgentAPIGetAgentJobRequest
	*/
	GetAgentJob(ctx context.Context, jobId string) AgentAPIGetAgentJobRequest

	// GetAgentJobExecute executes the request
	//  @return AgentJobStatusResponse
	GetAgentJobExecute(r AgentAPIGetAgentJobRequest) (*AgentJobStatusResponse, *http.Response, error)

	/*
	ReviseAgentTemplate Revise a template with the authoring agent

	Send natural-language feedback on an existing image template; the agent revises
the draft while keeping layer names stable. Asynchronous — poll
`GET /v1/agent/jobs/{job_id}`; the completed job always includes a fresh
**preview_url**.

**Authentication:** API Key required (`x-api-key` header)

## Credits

A revision costs **10 credits**, deducted when the job
is queued and fully refunded if the job fails.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param templateId Template short ID (12 characters)
	@return AgentAPIReviseAgentTemplateRequest
	*/
	ReviseAgentTemplate(ctx context.Context, templateId string) AgentAPIReviseAgentTemplateRequest

	// ReviseAgentTemplateExecute executes the request
	//  @return AgentJobCreatedResponse
	ReviseAgentTemplateExecute(r AgentAPIReviseAgentTemplateRequest) (*AgentJobCreatedResponse, *http.Response, error)
}

// AgentAPIService AgentAPI service
type AgentAPIService service

type AgentAPICreateAgentTemplateRequest struct {
	ctx context.Context
	ApiService AgentAPI
	createAgentTemplateRequest *CreateAgentTemplateRequest
}

func (r AgentAPICreateAgentTemplateRequest) CreateAgentTemplateRequest(createAgentTemplateRequest CreateAgentTemplateRequest) AgentAPICreateAgentTemplateRequest {
	r.createAgentTemplateRequest = &createAgentTemplateRequest
	return r
}

func (r AgentAPICreateAgentTemplateRequest) Execute() (*AgentJobCreatedResponse, *http.Response, error) {
	return r.ApiService.CreateAgentTemplateExecute(r)
}

/*
CreateAgentTemplate Create a template with the authoring agent

Describe the image template you want; the TemplateFox agent authors it for you —
valid HTML that renders deterministically AND stays editable in the visual editor,
with every layer named and drivable through `/v1/image/create` modifications.

The job is asynchronous: poll `GET /v1/agent/jobs/{job_id}`. When completed, the
response always includes a **preview_url** (rendered PNG) plus the `template_id`.
Iterate with `POST /v1/agent/templates/{template_id}/revise`.

**Authentication:** API Key required (`x-api-key` header)

## Credits

Creation costs **25 credits**, deducted when the job is
queued and fully refunded if the job fails.

## Canvas

Pass a `preset` (instagram-square, instagram-story, og-image, twitter-card, pinterest-pin, square-512) or explicit `width` + `height` in px.

## Rate Limits

Standard rate limits apply (60 req/min free, 120 req/min paid).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AgentAPICreateAgentTemplateRequest
*/
func (a *AgentAPIService) CreateAgentTemplate(ctx context.Context) AgentAPICreateAgentTemplateRequest {
	return AgentAPICreateAgentTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AgentJobCreatedResponse
func (a *AgentAPIService) CreateAgentTemplateExecute(r AgentAPICreateAgentTemplateRequest) (*AgentJobCreatedResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentJobCreatedResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentAPIService.CreateAgentTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agent/templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createAgentTemplateRequest == nil {
		return localVarReturnValue, nil, reportError("createAgentTemplateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createAgentTemplateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentAPIGetAgentJobRequest struct {
	ctx context.Context
	ApiService AgentAPI
	jobId string
}

func (r AgentAPIGetAgentJobRequest) Execute() (*AgentJobStatusResponse, *http.Response, error) {
	return r.ApiService.GetAgentJobExecute(r)
}

/*
GetAgentJob Get authoring-agent job status

Poll the status of an authoring-agent job.

**Authentication:** API Key required (`x-api-key` header)

## Status Values

| Status | Description |
|--------|-------------|
| `pending` | Job is queued |
| `processing` | The agent is authoring (typically 30s-3min) |
| `completed` | Done — `template_id` and `preview_url` are set |
| `failed` | Job failed (see error_message); credits were refunded |

Poll every 2-5 seconds. A job stuck in `processing` for more than 10 minutes is
failed automatically and its credits refunded.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param jobId Job UUID
 @return AgentAPIGetAgentJobRequest
*/
func (a *AgentAPIService) GetAgentJob(ctx context.Context, jobId string) AgentAPIGetAgentJobRequest {
	return AgentAPIGetAgentJobRequest{
		ApiService: a,
		ctx: ctx,
		jobId: jobId,
	}
}

// Execute executes the request
//  @return AgentJobStatusResponse
func (a *AgentAPIService) GetAgentJobExecute(r AgentAPIGetAgentJobRequest) (*AgentJobStatusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentJobStatusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentAPIService.GetAgentJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agent/jobs/{job_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"job_id"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AgentAPIReviseAgentTemplateRequest struct {
	ctx context.Context
	ApiService AgentAPI
	templateId string
	reviseAgentTemplateRequest *ReviseAgentTemplateRequest
}

func (r AgentAPIReviseAgentTemplateRequest) ReviseAgentTemplateRequest(reviseAgentTemplateRequest ReviseAgentTemplateRequest) AgentAPIReviseAgentTemplateRequest {
	r.reviseAgentTemplateRequest = &reviseAgentTemplateRequest
	return r
}

func (r AgentAPIReviseAgentTemplateRequest) Execute() (*AgentJobCreatedResponse, *http.Response, error) {
	return r.ApiService.ReviseAgentTemplateExecute(r)
}

/*
ReviseAgentTemplate Revise a template with the authoring agent

Send natural-language feedback on an existing image template; the agent revises
the draft while keeping layer names stable. Asynchronous — poll
`GET /v1/agent/jobs/{job_id}`; the completed job always includes a fresh
**preview_url**.

**Authentication:** API Key required (`x-api-key` header)

## Credits

A revision costs **10 credits**, deducted when the job
is queued and fully refunded if the job fails.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param templateId Template short ID (12 characters)
 @return AgentAPIReviseAgentTemplateRequest
*/
func (a *AgentAPIService) ReviseAgentTemplate(ctx context.Context, templateId string) AgentAPIReviseAgentTemplateRequest {
	return AgentAPIReviseAgentTemplateRequest{
		ApiService: a,
		ctx: ctx,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return AgentJobCreatedResponse
func (a *AgentAPIService) ReviseAgentTemplateExecute(r AgentAPIReviseAgentTemplateRequest) (*AgentJobCreatedResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentJobCreatedResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentAPIService.ReviseAgentTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agent/templates/{template_id}/revise"
	localVarPath = strings.Replace(localVarPath, "{"+"template_id"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.reviseAgentTemplateRequest == nil {
		return localVarReturnValue, nil, reportError("reviseAgentTemplateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.reviseAgentTemplateRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
