/*
TemplateFox API

Generate beautiful PDFs from HTML/CSS templates with Jinja2 via API. Design once, generate thousands.

API version: 1.13.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package templatefox

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type ImageAPI interface {

	/*
	CreateImage Generate image from template

	Generate an image (PNG, JPEG or WebP) from an image template.

**Authentication:** API Key required (`x-api-key` header)

## Request Body

| Field | Type | Required | Description |
|-------|------|----------|-------------|
| `template_id` | string | ✅ Yes | Template short ID (12 characters) |
| `modifications` | array | No | Modify elements by layer name (see below) |
| `format` | string | No | `png` (default), `jpeg` or `webp` |
| `width` | integer | No | Output width in pixels (defaults to the template's native width) |
| `export_type` | string | No | `url` (default) or `binary` |

## Modifications

Each modification targets a layer by the `name` you set in the editor's Layers panel:

| Property | Description |
|----------|-------------|
| `name` | Layer name to modify (required) |
| `text` | Replace the layer's text |
| `image_url` | Set the layer's image (`src` for images, `background-image` otherwise) |
| `color` | Text color |
| `background` | Background color |
| `hidden` | Hide (`true`) or show (`false`) the layer |

Unknown layer names are skipped and listed in the response `warnings`. A name that
matches several layers is applied to all of them.

## Export Types
- `url` (default): image is uploaded to CDN, returns JSON with URL
- `binary`: returns raw image bytes directly

**Note:** This endpoint only accepts image templates. Use `/v1/pdf/create` for PDF templates.

**Credits:** 1 credit deducted per successful generation.

**Rate Limits:** 60 requests/min (free), 120 requests/min (paid). Headers included in response.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ImageAPICreateImageRequest
	*/
	CreateImage(ctx context.Context) ImageAPICreateImageRequest

	// CreateImageExecute executes the request
	//  @return CreateImageResponse
	CreateImageExecute(r ImageAPICreateImageRequest) (*CreateImageResponse, *http.Response, error)
}

// ImageAPIService ImageAPI service
type ImageAPIService service

type ImageAPICreateImageRequest struct {
	ctx context.Context
	ApiService ImageAPI
	createImageRequest *CreateImageRequest
}

func (r ImageAPICreateImageRequest) CreateImageRequest(createImageRequest CreateImageRequest) ImageAPICreateImageRequest {
	r.createImageRequest = &createImageRequest
	return r
}

func (r ImageAPICreateImageRequest) Execute() (*CreateImageResponse, *http.Response, error) {
	return r.ApiService.CreateImageExecute(r)
}

/*
CreateImage Generate image from template

Generate an image (PNG, JPEG or WebP) from an image template.

**Authentication:** API Key required (`x-api-key` header)

## Request Body

| Field | Type | Required | Description |
|-------|------|----------|-------------|
| `template_id` | string | ✅ Yes | Template short ID (12 characters) |
| `modifications` | array | No | Modify elements by layer name (see below) |
| `format` | string | No | `png` (default), `jpeg` or `webp` |
| `width` | integer | No | Output width in pixels (defaults to the template's native width) |
| `export_type` | string | No | `url` (default) or `binary` |

## Modifications

Each modification targets a layer by the `name` you set in the editor's Layers panel:

| Property | Description |
|----------|-------------|
| `name` | Layer name to modify (required) |
| `text` | Replace the layer's text |
| `image_url` | Set the layer's image (`src` for images, `background-image` otherwise) |
| `color` | Text color |
| `background` | Background color |
| `hidden` | Hide (`true`) or show (`false`) the layer |

Unknown layer names are skipped and listed in the response `warnings`. A name that
matches several layers is applied to all of them.

## Export Types
- `url` (default): image is uploaded to CDN, returns JSON with URL
- `binary`: returns raw image bytes directly

**Note:** This endpoint only accepts image templates. Use `/v1/pdf/create` for PDF templates.

**Credits:** 1 credit deducted per successful generation.

**Rate Limits:** 60 requests/min (free), 120 requests/min (paid). Headers included in response.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ImageAPICreateImageRequest
*/
func (a *ImageAPIService) CreateImage(ctx context.Context) ImageAPICreateImageRequest {
	return ImageAPICreateImageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateImageResponse
func (a *ImageAPIService) CreateImageExecute(r ImageAPICreateImageRequest) (*CreateImageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateImageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageAPIService.CreateImage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/image/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createImageRequest == nil {
		return localVarReturnValue, nil, reportError("createImageRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "image/png"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createImageRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
